.headline {
    background-color: #4f01ab;
    color: white;
    font-size:32px;
    font-weight:bold;
    text-align:center;
}

body {
    background-color:#4f01ab;
    color: white;
}

button {
    size:50px;
    width:300px;
    height:600px;
    font-weight:bold;
    background-color: #8def51;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    align-items: center;
}